.container {
  max-width: 120rem;
  margin: 0 auto;
}

.content {
  display: flex;
}
.gallery {
  flex: 1;
  margin-top: 0.1rem;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
