.searchContainer {
  display: flex;
  flex: 1;
  padding: 2rem 3rem;
  background: #fff200;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  width: 30%;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  border: none;
  background-color: rgba(177, 177, 177, 0.5);
  transition: all 0.3s;
}

.searchInput:focus {
  outline: none;
  width: 35%;
}
