.searchContainer {
  display: flex;
  flex: 1;
  padding: 0.4rem 3rem;
  background: #fff200;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  height: 5rem;
  width: auto;
}

.arrow-icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: currentColor;
}
.arrow-icon--right {
  margin-left: 1rem;
}

.arrow-icon--left {
  margin-right: 1rem;
}

.searchInput {
  width: 30%;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  border: none;
  background-color: rgba(177, 177, 177, 0.5);
  transition: all 0.3s;
}

.searchInput:focus {
  outline: none;
  width: 35%;
}

.page {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  cursor: default;
}

.navButton {
  display: flex;
}

.btn {
  cursor: pointer;
  font-size: 1.6rem;
  margin: 0 1rem;
  border: none;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.2s;
}

.btn:hover {
  border-bottom: 3px solid #fff;
  color: #fff;
}

.logo {
  text-align: center;
}
