.navigation {
  flex: 0 0 18%;
  background: #333;
  display: flex;
  flex-direction: column;
  height: 88.7vh;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff200;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

li:hover::before {
  width: 100%;
  transform: scaleY(1);
}

.active {
  background-color: #e6d900;
}

li {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.nav-style {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem;
  /* display: flex; */
}

.nav-icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

.nav-link {
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
